*{
	box-sizing: border-box;
	border-color: #800000;
	color: 	 #cccccc;
}
html{
	height: 99%;
	width:99%;
}
body{
	height: 99%;
	width: 99%;
	background-color: #999999;
}
header{
	width: 100%;
	height: 5%;
	border-style: solid;
	margin: 0;
	float: left;
}



aside{
	float: left;
	height: 95%;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	width: 25%;
}

input[type=file], input[type=submit]{
	border: 2px solid #800000;
	color: #000000;
	background-color: #800000;
	text-decoration: none;
}
section{
	height: 95%;
	border-bottom-style: solid;
	border-right-style: solid;
	width:75%;
	float: left;
}