*{
	font-family: 'Barlow', sans-serif;
	box-sizing: border-box;
	border-color: #00cc66;
}
form{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
html{
	height: 99.5%;
	width:99.5%;
	overflow: hidden;
}
body{
	height: 99.4%;
	width: 99.4%;
	background-color:  #ccffe6;
}
header{
	width: 100%;
	height: 5%;
	border-style: ridge;
	float: left;
}

.student{
	width: 100%;
	border-bottom-style: ridge;
	border-bottom-color: #00cc66;
	background-color: #e6fff2;
}
.stdId{
	margin-left: .4em;
}
.assignmentTitle{
	width: 100%;
	border-bottom: ridge;
	border-bottom-color: #00cc66;
	background: #e6fff2;
	color: #000;
	display: inline-block;
}

.assignment{
	border-bottom-style: ridge;
	width: 100%;
	display: inline-block;
	border-bottom-color: #00cc66;
	background-color: #e6fff2;
	color: #000;
}

aside{
	float: left;
	height: 95%;
	border-bottom-style: ridge;
	border-left-style: ridge;
	border-right-style: ridge;
	width: 25%;
	background-color: #ccffe6;
}

#addAsgn{
	border-bottom-style: ridge;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	padding-top: 0em;
	margin-top: 0em;
	width: 100%;
	font-size: 12pt;
	background-color:	 #00cc66;
	transition: font-size .5s, background-color .5s, border-bottom-color .5s;
	
}

#addAsgn:hover{
	font-size: 14pt;
	background-color: #e6fff2;
	border-bottom-color: #00cc66;
}


input[type=submit]{
	float: right;
	border: 2px solid #00cc66;
	background-color: #00cc66;
	text-decoration: none;
	color:#000;
	transition: background-color .5s, color .5s, border .5s;
}
input[type=submit]:hover{
	background-color: #00cc66;
	color: #000;
	border: 2px ridge #000000;
}

section{
	height: 95%;
	border-bottom-style: solid;
	border-right-style: solid;
	width:75%;
	float: left;
}